@charset "UTF-8";

div {
	word-break:keep-all;
}

.form-floating {
	margin: 15px 0px;
	padding: 0px;
}

/* div */
.eachPart {
	margin: 100px 0px;
	padding: 0px;
}

.sign_entire_div {
	width: 350px;
	margin: auto;
	padding: 0px;
}

.basic_div {
	width: 800px;
	margin: auto;
	padding: 0px;
}

.squircle_div {
	border: 0.5px solid lightgray;
	border-radius: 5px;
	margin: auto;
}

.left_div {
	float: left;
}

.right_div {
	float: right;
}

.i_icon_div {
	margin: 10px 0px;
	text-align: right;
}

.i_icon_div_main {
	margin: 10px -10px -10px 0px;
	text-align: right;
}

.text_div {
	padding: 20px;
}

.inline_block_div {
	display: inline-block;
}

#post_images {
	text-align: center;
}

.basic_div_900 {
	width: 900px;
	margin: auto;
	padding: 0px;
}

.profile_detail_div_my_page {
	/* border: 1px solid black; */
	margin: 0px 30px;
	padding: 10px;
	word-spacing: 10px;
}




/* img */
.squircle_img {
	border-radius: 5px;
	margin: 10px 0px;
	padding: 0px;
}

.i_icon {
	font-size: 2rem;
}

.i_icon_logo {
	font-size: 3rem;
	color: white;
}

.thumb_nail_img {
	width: 100%; 
	height: 300px; 
	object-fit: cover;
	border: 0.5px solid lightgray;
}

.thumb_nail_img_small {
	height: 150px;
	object-fit: cover;
	border: 0.5px solid lightgray;
}


.profile_img_my_page {
	background-color: white;
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 40px;
}

.profile_img_header {
	background-color: white;
	width: 46px;
	height: 46px;
	object-fit: cover;
	border-radius: 23px;
	margin: 0px;
}

.my_page_img {
	width: 160px; 
	height: 160px; 
	object-fit: cover;
	border: 0.5px solid lightgray;
	border-radius: 5px;
	/* margin: 5px 1px; */
	padding: 0px;
}

/* Button */
.btn-right {
	float: right;
	margin: 0px 0px 10px 0px;
}

.btn-enhance {
	background-color: #263343;
}

.btn-image {
	background-color: transparent; 
	border: none;
	margin: 5px;
	padding: 0px;
}

/* table */
.member_detail_table_my_page {
	border-collapse: separate;
	border-spacing: 20px 5px;
}

.member_simple_table_post_detail {
	/* border: 1px solid black; */
	border-collapse: separate;
	/* border-spacing: 20px 0px; */
	width: 100%;
}

.replyTable {
	margin: 10px;
}

.replyTable tr {
	border: 1px solid white;
}   

#followTable ~ tr, td {
	vertical-align: middle;
}

/* modal */
#follow_modal {
	display: none;
	width: 400px;
	padding: 20px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;	
}

#follow_modal .modal_close_btn {
	position: absolute;
	top: 10px;
	right: 10px;
}


